body{
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container{
  border: 1px solid black;
  border-color: gray;
  padding:15px;
  text-align: center;
  border-radius: 5px;
  margin-top: 90px;
}

#count, #increase, #decrease, #reset{
  font-size: 20px;
  margin: 10px;
}

.buttons button{
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
}