<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TO-DO APP</title>
        <link rel="stylesheet" href="../styles/todo.css">

    </head>

    <body>

        <header class="main-header">
            <h2>TO-DO APP</h2>
        </header>

        <main>
            <div class="tasks">
                <form class="taskForm">

                    <div class="search-wrapper">
                        <button type="button" id="searchBtn" class="icon-btn">
                            <img id="searchIcon" alt="Search">
                        </button>
                        
                        <input type="text" id="searchTask" placeholder="Search by task name">   
                
                    </div>

                    <!-- <div class="input-wrapper">
                        <i class="fa-solid fa-list-check task-icon"></i>
                        <input type="text" id="taskInput" placeholder="Enter task name" required>
                    </div>

                    <button type="submit" id="taskBtn">Submit</button> -->
                    <button type="button" id="openModalBtn">Create Task</button>
                     
                    <div class="filter-wrapper">
                        <input type="date" id="filterDate">
                    </div>

                </form>

                
            </div>
            
        
            <div class="shared-container">

                <div class="completed-tasks">
                    <p>Completed Tasks:</p>
                    <ul id="completedList">

                    </ul>
                </div>

            

                <div class="table-wrapper">
                    <table id="taskTable">
                        <thead>
                            <tr>
                                <th>Done</th>
                                <th class="sortable">
                                    Task Name
                                    <button type="button" id="sortTaskBtn" class="sort-btn">⬍</button>
                                </th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                
            </div>

            <div class="modal" id="taskModal">
                <div class="modal-content">
                    <h2>Create new task</h2>

                    <form id="modalForm">
                        <input type="text" id="modalTaskName" placeholder="Enter task name" required/>
                        <input type="time" id="modalTime" required/>
                        <textarea id="modalDesc" placeholder="Enter task description" rows="5"></textarea>

                        <div class="modal-actions">
                            <button type="submit">Add Task</button>
                            <button type="button" id="closeModalBtn">Cancel</button>
                        </div>

                    </form>

                </div>
            </div>


        </main>
    

        <script type="module" src="../scripts/todo.js"></script>
    </body>
</html>