<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TO-DO APP</title>
        <link rel="stylesheet" href="../styles/todo.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    </head>

    <body>

        <header class="main-header">
            <h2>TO-DO APP</h2>
        </header>

        <main>
            <div class="tasks">
                <form class="taskForm">

                    <div class="search-wrapper">
                        <button type="button" id="searchBtn" class="icon-btn">
                            <i class="fa-solid fa-magnifying-glass search-icon"></i>
                        </button>
                        
                        <input type="text" id="searchTask" placeholder="Search by task name">
                    </div>

                    <div class="input-wrapper">
                        <i class="fa-solid fa-list-check task-icon"></i>
                        <input type="text" id="taskInput" placeholder="Enter task name" required>
                    </div>

                    <button type="submit" id="taskBtn">Submit</button>

                </form>

                
            </div>
            
        
        <div class="shared-container">

            <div class="completed-tasks">
                 <p>Completed Tasks:</p>
                 <ul id="completedList">

                 </ul>
            </div>

            

        <div class="table-wrapper">
            <table id="taskTable">
                <thead>
                    <tr>
                        <th>Done</th>
                        <th>Task Name</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
            

        </div>
            

        </main>


        <script src="../scripts/todo.js"></script>
    </body>
</html>